3dmm/*
.idea/
nets/*.pyc
nets/__pycache__
mesh_render/*

utils/__pycache__
utils/*.pyc

rendering_layer/*.png
rendering_layer/__pycache__
rendering_layer/ops_src/*.so
rendering_layer/ops_src/*.o

zbuffer_render/

